.darkmode-layer, .darkmode-toggle {
  z-index: 10000;
}

.darkmode--activated .emgHeader {
  background-color: #007575d0 !important;
}

.darkmode--activated .emgHeader h1 {
  color: black !important;
}

.darkmode--activated .header-new-icon {
  background-color: #00ff00d0 !important;
}

.darkmode--activated .impHeader {
  background-color: #0d56ffd0 !important;
}

.darkmode--activated .impHeader h1 {
  color: black !important;
}

.darkmode--activated .lms-color {
  background-color: #f2a9009d !important;
}

.darkmode--activated .timetable-color {
  background-color: #f2a9009d !important;
}

.darkmode--activated .nendo, .darkmode--activated .term {
  border: 2px solid #bcbcc2;
}

.darkmode--activated .contents-detail .div-table-cell {
  border: 1px solid #bcbcc2;
}

.darkmode--activated .div-table-colomn-period-color {
  background-color: #f2a90070 !important;
}

.darkmode--activated .yobi-color0 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color1 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color2 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color3 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color4 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color5 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .yobi-color6 {
  background-color: #f2a90045 !important;
}

.darkmode--activated .sidemenu-logo {
  mix-blend-mode: difference;
}

.darkmode--activated .sidemenu-link {
  background-color: #f2a9009d !important;
}

.darkmode--activated .sidemenu-pull {
  background-color: #0d56ff45 !important;
  color: #d8dae0 !important;
}

.darkmode--activated .utas-icon {
  mix-blend-mode: difference;
}

.darkmode--activated .ui-dialog:not(.schedule-dialog) div:first-child {
  background-color: #f2a90070 !important;
}

.darkmode--activated .schedule-dialog-title {
  background-color: #f2a90070 !important;
}

.darkmode--activated .schedule-item {
  border-bottom: 2px solid #bcbcc2;
}

.darkmode--activated .highlight-txt {
  color: #00ff00d0 !important;
}

.darkmode--activated .ql-snow a {
  color: #f2a900ee !important;
}

.darkmode--activated .inquiry-color, .darkmode--activated .course-search-color {
  background-color: #f2a90070 !important;
}

button.darkmode-toggle {
  font-size: 2em;
  color: white !important;
  transform: rotate(90deg);
}

.darkmode--activated button.darkmode-toggle {
  color: black !important;
}

.noticeFold.impHeader,
.noticeFold.emgHeader {
  position: relative !important;
}

.noticeFold.impHeader:after,
.noticeFold.emgHeader:after {
  content: "";
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(135deg) translateY(5px);
  position: absolute;
  right: 20px;
  top: 50%;
  transition: transform 0.4s;
}

.noticeFold.impHeader.impActive::after,
.noticeFold.emgHeader.emgActive::after {
  transform: rotate(225deg) translateX(5px) translateY(10px);
}

.noticeFold#impInformation,
.noticeFold#emgInformation {
  /*line-height: 0;*/
  opacity: 0;
  height: 0;
  /*transition: opacity .4s, line-height .4s, height .4s;*/
  transition: opacity 0s, height 0s;
}

.noticeFold .imp_subblock_contents,
.noticeFold .emg_subblock_contents {
  display: none;
}

.noticeFold#impInformation.impActive,
.noticeFold#emgInformation.emgActive {
  /*line-height: inherit;*/
  opacity: 1;
  height: auto;
  transition: opacity 0.4s, height 0.4s;
}

.noticeFold#impInformation.impActive .imp_subblock_contents,
.noticeFold#emgInformation.emgActive .emg_subblock_contents {
  display: block;
}

.header-timetable {
  margin: 0 10px;
  margin-top: 5px;
  float: left;
}

.header-timetable2 {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

.task-table-wrapper {
  margin-bottom: 40px;
}

.addSchedule.timetable-title {
  padding-left: 30px !important;
}

.add-schedule-btn {
  width: auto !important;
  margin-left: 15px;
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.schedule-title {
  background-color: #f2a90045;
  border-bottom: 5Q solid #f2a9004d;
  box-shadow: 0px 1px 4px #d0d0d0;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  position: relative;
  font-weight: bold;
  word-break: break-word;
  word-wrap: anywhere;
}

.schedule-detail {
  background-color: #fff;
  border-bottom: 1px solid #b0b3b4;
  border-right: 1px solid #b0b3b4;
  padding: 5px 3px 5px 3px;
  position: relative;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.schedule-dialog {
  position: fixed !important;
  height: auto;
  width: 50%;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101 !important;
}

.schedule-dialog-content {
  margin: 15px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
}

.schedule-dialog-content span {
  display: inline-block;
  line-height: 2;
}

.schedule-dialog-btn {
  background-color: #434444;
  border: 1px solid #3b3b3b;
  box-shadow: 0px 1px 3px 1px #434444;
  color: #fff;
  transition: all 100ms 0s ease;
  border-radius: 4px;
  font-size: 12px;
  min-height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  min-width: 100px;
  padding: 7px 14px 5px;
}

.schedule-item-list {
  border-top: 0px;
  width: 100%;
}

.schedule-item {
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;
}

.schedule-item-title {
  display: table-cell;
  padding: 9px 15px 9px 25px;
  vertical-align: middle;
  width: 20%;
  font-weight: bold;
}

.schedule-item-content {
  display: table-cell;
  padding: 9px 15px 15px 25px;
  width: 80%;
  word-break: break-word;
}

.page-top-btn-hide {
  display: none !important;
}

.timetable-icon-hide {
  display: none !important;
}

.page-head-userinfo-hide {
  display: none !important;
}

.tasklist-submitted {
  display: none !important;
}